// .input{
//   border: none;
//   outline: none;
// }

#contactText{
  color: #CD0016;
}

#contactDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

container{
  width: 100%;
}


