#image{
  height: 70vh;
  width: auto;
  padding-top: 20vh;
  padding-left: 34vw;
}

#homeContainer{
  display: flex;
  flex-direction: row;
}

#text{
  padding-top: 25vh;
  padding-left: 4vw;
  color: #CD0016;
}